.jumbotron {
    background-color: #D95C00;
    color: white;
    margin-top: 0px;
    margin-right: -6px;
    border-radius: 0px;
}
.jumbotron h1 {
    background-color: #D95C00;
    color: black;
}
a {
    color: white;
}
a:hover {
    color: black;
}
.a-nav {
    color: #D95C00;
}
.a-tab {
    color: black;
}

.btn-inicio{
	background-color: black;
}

.botonera {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-link {
    color: #D95C00;
    background-color: #F7F7F7;
}
.btn-link:hover {
    color: black;
    text-decoration: underline
}
.btn-reserva {
    width: 100%;
    border-radius: 0px
}
.btn-details {
    background-color: #D95C00;
    margin-top: 10px;
}
.btn-details-contact {
    background-color: black;
    
}
.btn-details-contact:hover {
    color: #fff;
    background-color: #5A6268;
    border-color: #545b62;
}
.footer {
    padding: 10px 10px 0 10px;
    background-color: #D95C00;
    margin-right: auto;
    margin-top: 50px;
}
.footer h3 {
    color: black;
}
.div-p {
    color: white;
}
.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/principal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tab-content {
    padding-top: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #D95C00;
}